*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #181818;
	color: #fff;
	font-family: Inter, sans-serif;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	height: 100dvh;
}

.section:nth-child(odd) {
	background: #060606;
}

h1,
h2 {
	font-size: 3rem;
}

@media (max-width: 768px) {
	h1,
	h2 {
		font-size: 1.5rem;
	}
}

code {
	font-family: monospace;
	font-size: 1.5rem;
	background: #060606;
	padding: 1.5rem;
	border-radius: 0.5rem;
}

@media (max-width: 768px) {
	code {
		font-size: 0.7rem;
	}
}

.loader {
	border: 16px solid #121212;
	border-radius: 50%;
	border-top: 16px solid #060606;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 1s linear infinite; /* Safari */
	animation: spin 1s linear infinite;

	margin-bottom: 2rem;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
